@page "/"
@using System.Net.Http;
@using System.Text.Json;
@using System.Text.Json.Serialization;
@using Newtonsoft.Json;

<center>
<h1>Bienvenido a AccidAPP</h1>
<p><strong>Nota:</strong> para agregar solo un involucrado presionar <strong>Registrar Accidente</strong><br>
para agregar mas de un involucrado presionar <strong>Agregar mas involucrados</strong>y cuando agrege el ultimo involucrado <br>
presionar <strong>Registrar Accidente</strong></p>
<h3>Accidente</h3>

 <div class="form-group">
    <label for="exampleInputEmail1">Descripcion</label>
    <input type="text" class="form-control" @bind="descripcion" >
  <div class="row">
      <div class="col">
  <label for="exampleInputEmail1">Fecha</label>
    <input type="text" class="form-control" @bind="fecha" >
  </div>
  <div class="col">
  <label for="exampleInputEmail1">Hora</label>
    <input type="text" class="form-control" @bind="hora"  >
    </div>
    </div>
    <br>
  <label for="exampleInputEmail1">Lugar</label>
    <input type="text" class="form-control" @bind="lugar" >
   <div class="row">
    <div class="col">
  <label for="exampleInputEmail1">Latitud</label>
    <input type="text" class="form-control" @bind="latitud">
    </div>
     <div class="col">
  <label for="exampleInputEmail1">Longitud</label>
    <input type="text" class="form-control" @bind="longitud" >
    </div>
    </div>
  </div>


  <h3>Involucrados</h3>

  <div class="row">
      <div class="col">
  <label for="exampleInputEmail1">Nombre</label>
    <input type="text" class="form-control" @bind="nombre" disabled >
  </div>
  <div class="col">
  <label for="exampleInputEmail1">Apellido</label>
    <input type="text" class="form-control" @bind="apellidos" disabled>
    </div>
    </div>
     <div class="row">
    <div class="col">
  <label for="exampleInputEmail1">Telefono</label>
    <input type="text" class="form-control" @bind="telefono">
  </div>
  <div class="col">
  <label for="exampleInputEmail1">Cedula</label>
    <input type="text" class="form-control" @bind="cedula" @onkeypress="GetData">
    </div>
    </div>
    <br>
    <label for="exampleInputEmail1">Email</label>
    <input type="text" class="form-control" @bind="email">
    <br>
</center>
<button class="btn btn-primary btn-lg btn-block" @onclick="AgregarInvolucrado" type="button">Agregar mas involucrados</button>
<button class="btn btn-primary btn-lg btn-block" @onclick="AgregarAccidente"  type="button">Registrar Accidente</button>
<br>
@code{

    string descripcion = "", fecha = "", hora = "", lugar = "", latitud = "", longitud = "";
    string nombre = "", apellidos = "", telefono = "", cedula = "", email = "";
    int Id;
    bool decision = false;

    string response,apellido1,apellido2;

HttpClient client = new HttpClient();

    private async Task GetData(){

        response = await client.GetStringAsync("https://api.adamix.net/apec/cedula/"+cedula);
        var Data = JsonConvert.DeserializeObject<Root>(response);
        nombre=Data.Nombres;
        apellido1=Data.Apellido1;
        apellido2=Data.Apellido2;
        apellidos=apellido1+" "+apellido2;
       
        
    }

       public class Root    {
        public string Cedula { get; set; } 
        public string Nombres { get; set; } 
        public string Apellido1 { get; set; } 
        public string Apellido2 { get; set; } 
        public string Foto { get; set; }

    }


    void AgregarAccidente()
    {
        if (decision == false)
        {
            var db = new Conexion();
            var Accidentes = new Accidente();

            Accidentes.Fecha = fecha;
            Accidentes.Hora = hora;
            Accidentes.Lugar = lugar;
            Accidentes.Latitud = latitud;
            Accidentes.Longitud = longitud;
            Accidentes.Descripcion = descripcion;
            db.Add(Accidentes);
            db.SaveChanges();

            var Involucrados = new Involucrado();
            Involucrados.Nombre = nombre;
            Involucrados.Apellido = apellidos;
            Involucrados.Telefono = telefono;
            Involucrados.Cedula = cedula;
            Involucrados.Correo = email;
            Involucrados.AccidenteId = Accidentes.AccidenteId;
            db.Add(Involucrados);
            db.SaveChanges();

            LimpiarTodo();

        }
        else
        {
            var db = new Conexion();
            var Involucrados = new Involucrado();
            Involucrados.Nombre = nombre;
            Involucrados.Apellido = apellidos;
            Involucrados.Telefono = telefono;
            Involucrados.Cedula = cedula;
            Involucrados.Correo = email;
            Involucrados.AccidenteId = Id;
            db.Add(Involucrados);
            db.SaveChanges();
            LimpiarTodo();


        }

    }

    void AgregarInvolucrado()
    {
        decision = true;
        var db = new Conexion();
        var Accidentes = new Accidente();

        Accidentes.Fecha = fecha;
        Accidentes.Hora = hora;
        Accidentes.Lugar = lugar;
        Accidentes.Latitud = latitud;
        Accidentes.Longitud = longitud;
        Accidentes.Descripcion = descripcion;
        db.Add(Accidentes);
        db.SaveChanges();
        Id = Accidentes.AccidenteId;
        do
        {

            var Involucrados = new Involucrado();
            Involucrados.Nombre = nombre;
            Involucrados.Apellido = apellidos;
            Involucrados.Telefono = telefono;
            Involucrados.Cedula = cedula;
            Involucrados.Correo = email;
            Involucrados.AccidenteId = Accidentes.AccidenteId;
            db.Add(Involucrados);

        } while (decision == false);

        db.SaveChanges();

        LimpiarInvo();
    }

    void LimpiarTodo()
    {

        descripcion = "";
        fecha = "";
        hora = "";
        lugar = "";
        longitud = "";
        latitud = "";
        nombre = "";
        apellidos = "";
        telefono = "";
        cedula = "";
        email = "";
    }

    void LimpiarInvo()
    {
        nombre = "";
        apellidos = "";
        telefono = "";
        cedula = "";
        email = "";
    }

}